{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver/lib/index.js", {
      "alias": {
        "": "./client"
      }
    }],
    ["jsx-import/src/index.js", {
      "identifier": "Preact",
      "moduleName": "preact"
    }],
    ["transform-react-jsx", {"pragma": "Preact.h"}]
  ]
}
