@import (reference) 'variables.less';

.carousel {
  width: 100%;
  padding: 0 @gutter;
  margin: 0 auto;

  .carousel-inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    overflow: visible;

    .slides {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      justify-content: flex-start;

      > div {
        width: 100%;
        transition: all .2s ease-in-out;

        a {
          text-decoration: none;
          display: block;
        }
      }
    }

    nav {
      a {
        &:first-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .carousel-dots {
    width: auto;
    margin: 1rem auto;

    .level {
      justify-content: center;
    }
  }
}
